<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>feedbackform</title>
</head>
<body>
  <center>
    <h1>Write review</h1>
    <form action="" method="post" >
      {% csrf_token %}
      <label for="">name</label><br>
      <input type="text" name="name"><br>
      <label for="">feedback</label><br>
      <input type="text" name="feedback"><br><br>
      <a href=""><input type="submit" name="" id="" value="submit feedabck"></a>
    </form>
  </center>
  
</body>
</html>